* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

*::selection {
    background-color: #F6F6F6;
    color: #fff;
}

body {
    background-color: #F6F6F6;
    color: #fff;
}

header {
    position: fixed center;
    top: 0;
    right: 0;
    width: 500;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    background: #F6F6F6;
}


header .main{
    background-color: #F6F6F6;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.homebtn {
    background-color: #8785A2;
    color: #F6F6F6;
    height: 150px;
    width: 150px;
    font-weight: 600;
    font-size: 3rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;  
    justify-content: center;
    text-transform: uppercase;
}

.homebtn:hover {
    background-color: #84839ec5 ;
    color: #F6F6F6;
    transition: 0.5s;
}

header .main2{
    background-color: #F6F6F6;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 300px;
}

header .main2 .infoplay {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

header .main2 .stats1{
    background-color: #454550;
    color: #F6F6F6;
    height: 65px;
    width: 140px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    z-index: 150;
    cursor: pointer;
    text-decoration: none;
    display: flex; 
    text-transform: uppercase;
    justify-content: center;
    right: 15%;
    padding: 0%;
    margin: 0px 10px;
}

header .main2 .stats2{
    background-color: #454550;
    color: #F6F6F6;
    height: 65px;
    width: 140px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    z-index: 150;
    text-decoration: none;
    display: flex; 
    text-transform: uppercase;
    justify-content: center;
    left: 15%;
    padding: 0%;
    margin: 0px 10px;
}

header .main2 .new-game{
    cursor: pointer;
    display: flex;
    align-items: top;  
}

header .main2 .new-game .new-game-btn {
    position: relative;
    background-color: #FFC7C7; 
    color: #F6F6F6;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    height: 70px;
    width: 300px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    bottom: -20%;
}

header .main2 .new-game .new-game-btn:hover {
    background-color: #FFC7C7c5;
    color: #F6F6F6;
    transition: 0.5s;
}



.text {
    background-color: #F6F6F6;
    position: relative;
    top: 0px;
}

.text h5 {
    margin-top: -28px;
    font-size: 1rem;
    font-weight: 600;
    color: #8785A2;
    align-items: center;
    text-align: center;
}


/* field */
.game-grid {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #ccc;
    top: 150px;
    border-radius: 2.5px;
    border:10px solid #888;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    left: 50px;
    right: 0;
    align-items: center;
  }

.game-grid .row {
        display: table-row;
        width: 100%;
}


.game-grid .row .cell {
    display: table-cell;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border: 2.5px solid #888;
    text-align: center;
    vertical-align: middle;
    font-size: 5rem;
    font-weight: 600;
    color: #8785A2;
    cursor: pointer;
    transition: 0.5s;
}

.game-grid .row .cell:hover {
    background-color: #F6F6F6;
    color: #8785A2;
    transition: 0.5s;
}

.game-grid .row .cell:active {
    background-color: #F6F6F6;
    color: #8785A2;
    transition: 0.5s;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: #cdc1b4;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #776e65;
}

.value-2 {
    background-color: #eee4da;
}

.value-4 {
    background-color: #ede0c8;
}

/* Add more classes for other values if needed */




